.test-container {
   background-image: linear-gradient(rgb(160, 37, 127),rgb(41, 41, 159));
    margin: 15px;
    margin-left: 25%;
    width: 50%;
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: 0 3px 6px rgba(170, 60, 126, 0.16), 0 3px 6px rgba(222, 49, 170, 0.23);
}

.try-again-cont {
    flex-grow: 1;
    display: flex;
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
}

.typing-challenge-cont {
    display: flex;
    flex-grow: 1;
}